#toDoCont {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
#toDoList {
    position: absolute;
    bottom: 10;
    right: 2;
    width: 200px;
    height: 50px;
    border: 1px solid white;
}