
#clock {
    position: absolute;
    display: flex;
    font-family: monospace;  
    color: white;
    font-size: 85px;
    border: 4px solid white;
    justify-content: center;
    cursor: grab;
    word-spacing: -42px;
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 20px;
}